<ion-header [translucent]="true">
  <ion-toolbar class="div-header">
    <ion-title>Consultas Guardadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="consultas">
    <div *ngFor="let consulta of consultas">
      <ion-item (click)="consultar(consulta.tipoConsulta, consulta.inputValue)">
        <ion-avatar slot="start">
          <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ consulta.tipoConsulta }}</h2>
          <p>Valor: {{ consulta.inputValue }}</p>
          <small>{{ consulta.fecha | date: 'short' }}</small>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-modal #modal2>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Horarios de corte</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal2.dismiss()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Lista de horarios agrupados -->
        <ion-list *ngFor="let fecha of agrupadas">
          <ion-item-divider class="div-modal-header">
            <ion-label>
              <div>{{ fecha.dia | titlecase }}</div>
              <small class="text-muted">{{ fecha.fechaCompleta }}</small>
            </ion-label>
          </ion-item-divider>

          <ion-item *ngFor="let horario of fecha.horarios">
            <ion-label>
              <h2>De {{ horario.horaDesde }} a {{ horario.horaHasta }}</h2>
              <p>{{ horario.descripcion }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


